* {
	padding: 0px;
	margin: 0px;
}
body {
	background: url(images/background.gif);
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #363636;
}
#wrap {
	width: 900px;
	text-align: left;
}
#header {
	height: 120px;
	color: #ffffff;
	border-bottom: 2px #000000 solid;
}
#title {
	padding-top: 25px;
}
#pagenav {
	text-align:right;
	padding-top: 15px;
	font-size: 10pt;
	font-weight: bold;
}
#main {
	background-color: #ffffff;
	padding: 20px 0px;
}
#sidebar {
	margin: 0px 700px 0px 0px;
	width: 180px;
	padding-left: 20px;
}
#content {
	float: right;
	width: 650px;
	padding: 0px 20px 0px 30px;
}
#footer {
	clear: both;
	padding: 10px 10px 0px 10px;
	color: #7a0026;
	text-align: center;
}
/* text */
#title  h1 {
	font-size: 24pt;
}
#title  h1 a {
	color: #ffffff;
	text-decoration: none;
}
.description {
	font-size: 14pt;
	color: #e1e1e1;
}
#pagenav ul li {
	list-style: none;
	display: inline;
}
#pagenav li {
	margin-left: 5px;
}
#pagenav li a {
	color: #7a0026;
	text-decoration: none;
	background-color: #ffffff;
	padding: 5px 10px 5px 10px;
}
#pagenav li a:hover {
	background-color: #333333;
	color: #ffffff;
		padding: 5px 10px 5px 10px;
}
#content h1, #content h2, h3, h4, p, ul, ol {
	padding-bottom: 10px;
}
#content h1 {
	font-size: 16pt;
	color: #7a0026;
}
#content h1 a {
	color: #7a0026;
	text-decoration: none;
}
#content a,
#comments a,
td a {
	color: #7a0026;
	font-weight: bold;
	text-decoration: none;
}
.entry a:hover,
#comments a:hover,
td a:hover {
	text-decoration: underline;
}
#date {
	padding-bottom: 5px;
}
#sidebar a {
	color: #363636;
	text-decoration: none;
}
#sidebar a:hover {
	text-decoration: underline;
}
#sidebar h2 {
	color: #464646;
	font-size: 12pt;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
#sidebar ul {
	padding-bottom: 10px;
}
#sidebar li {
	padding-bottom: 2px;
}
#sidebar ul li {
	list-style: none;
}
#sidebar ul li ul li {
	margin-left: 10px;
}
#sidebar ul li ul li ul li {	
	margin-left: 10px;
}
#sidebar li {
	padding-bottom: 2px;
}
h3, h4, caption {
	color: #7a0026;
}
#content h2 {
	font-size: 12pt;
	color: #363636;
}
#content h2 a {
	color: #363636;
	text-decoration: none;
}
h3 {
	font-size: 11pt;
		font-weight: bold;
}
h4, caption {
	font-size: 10pt;
	font-weight: bold;
}
blockquote {
	margin: 10px;
	padding: 10px;
	font-size: 9pt;
	font-style: italic;
	color: #7a0026;
		background-color: #f7f7f7;
	border: 1px solid #999999;
}
blockquote a {
	color: #7a0026;
	text-decoration: none;

}
blockquote a:hover {
	text-decoration: underline;
}
#footer a {
	color: #7a0026;
	text-decoration: none;
}
#content ul li,
#content ol li {
	margin-left: 25px;
}
#comments {
	padding: 10px 0px;
}
.searchform {
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin-bottom: 10px;
	width: 170px;
}
/* -- */
.postmetadata {
	color: #898989;
	padding: 0px 0px 5px 0px;
}	
.postmetadata a {
	color: #898989;
	text-decoration: none;
}
.post {
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 20px;
}
.entry {

}
.pad, th {
	padding: 3px;
}

/* form */

fieldset {
	border: 0px; 
	padding: 0px 15px 15px 15px;
}
input, textarea {
	border: 1px solid #CCCCCC;
	font-size: 10pt;
	font-weight: bold;
	padding: 2px 4px;
	color: #999999;
	margin-bottom: 2px;
}
.label {
	font-weight: bold;
}
.notes {
	font-style: italic;
}

#commentform a {
	color: #85ccfb;
	text-decoration: none;
}
#commentform a:hover {
	color: #85ccfb;	
	text-decoration: underline;
}
.bComment {
	padding: 0px 15px;
}
.bCommentText {
	padding: 10px 15px;
}
.bCommentSmallPrint {
	font-size: 7pt;
	padding: 0px 15px;
}
.feedback_feed_msg {
	padding: 10px 15px;
}
.widget_core_coll_longdesc p {
	padding-bottom: 0px;
}
.powered_by {
	padding: 10px 0px;
}
.widget_core_coll_title {
	padding-top: 10px;
}
/* ---------------------------------------------------------- */
#evo_toolbar ul li,
#evo_toolbar ol li {
   margin-left: 0;
}

.sitewide_header {
	margin-bottom: 0px !important;
	z-index: 1000;
	position: relative;
}
#skin_wrapper {
	z-index: -1;
}
#content .image_block {
	text-align: left !important;
}
div.bComment, form.bComment {
	border: none !important;
}
#bCalendarToday {
	border: 1px solid #7a0026 !important;
	background-color: #7a0026 !important;
	color: #fff;
}
.bComment textarea {
	width: 95% !important;
}
form.bComment .submit, form.bComment .preview, .compact_search_form .submit, #content .extended_search_form .submit {
	color: #fff;
	background-color: #7a0026;
	border-radius: 0px !important;
	border:1px solid #7a0026 !important;
	cursor: pointer;
	padding: 2px;
}
#content .extended_search_form .submit {
	margin-left: 3px;
}
form.bComment .submit:hover, form.bComment .preview:hover, .compact_search_form .submit:hover, #content .extended_search_form .submit:hover {
	opacity: 0.8;
	background-color: #7a0026;
	color: #fff;
}
blockquote p {
	padding-top: 10px;
}